@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTNormsPro";
  src: local("TTNormsPro"),
    url("./assets/fonts/TTNormsProRegular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "TTNormsPro";
  src: local("TTNormsPro"),
    url("./assets/fonts/TTNormsProBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "TTNormsPro";
  src: local("TTNormsPro"),
    url("./assets/fonts/TTNormsProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "TTNormsPro";
  src: local("TTNormsPro"),
    url("./assets/fonts/TTNormsProLight.otf") format("opentype");
  font-weight: 300;
}


:root {
  font-family: 'TTNormsPro', 'Courier New', Courier, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

